body {
    font-family: Verdana, Arial, sans-serif;
    background-color: lightblue;
    color: lightblue;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: darkblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#task-form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

#task-list {
    list-style: none;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: beige;
}

.task-title {
    font-weight: bold;
}

.task-priority {
    color: white;
    margin-right: 10px;
}

.remove-button,
.complete-button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.remove-button:hover {
    background-color: red;
    color: #fff;
}

.complete-button:hover {
    background-color: green;
    color: #fff;
}

